.shoot_balloon {
  width: 220px;
  height: 220px;
  position: relative;
  overflow: hidden;
  margin: auto;
  background-color: #40a070;
  @include border-box-sizing();

  .balloon {
    position: absolute;
    text-align: center;

    border-radius: 50%;
    background-color: #2b81af;

    .balloon-display {
      @include clickable-default();
    }
  }
}